body{
    font-family: "Verdana", sans-serif;
}
.title {
    color: orange;
    text-shadow: 2px 2px #000000;
    font-style: italic;
}
h2.welcome::first-letter{
    font-size: 200%;
}
h2.categories {
    font-size: 120%;
}
h2.guarantee {
    font-size: 110%;
}
.pumpkin{
    float:left;
    margin-right: 20px;
}
a:link,
a:visited {
    color:orange;
    font-weight: bold;
    
}
/*a:visited{
    color: orange;
    font-weight: bold;
}
*/
a:hover {
    color:green;
    font-weight: bold;
}
footer {
    font-size: 75%;
    text-align: center;
}





