/* {
    margin: 0;
    padding: 0;
}*/
body{
    font-family: "Verdana", sans-serif;
}
.title {
    color: black;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("images/bats.gif");
}
.header{
    background: orange;
    background: -webkit-linear-gradient(-135deg, black, orange, white);
    background: -o-linear-gradient(-135deg, black, orange, white);
    background: -moz-linear-gradient(-135deg, black, orange, white);
    background: linear-gradient(-135deg, black, orange, white);
    width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0px;
    postion: relative;
}
.content{
    width: 800px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 5px 5px 5px #000000;
    border-style: solid;
    border-color: black;
    padding: 0 0 0 0;
}
main{
    padding: 0 10px 0 10px;
}
h2.welcome::first-letter{
    font-size: 200%;
}
h2.categories {
    font-size: 120%;
}
h2.guarantee {
    font-size: 110%;
}
.pumpkin{
    float:left;
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}
a:link,
a:visited {
    color:orange;
    font-weight: bold;
    padding: 10px 0;
}
/*a:visited{
    color: orange;
    font-weight: bold;
}
*/
a:hover {
    color:green;
    font-weight: bold;
}
footer {
    font-size: 75%;
    text-align: center;
    padding: 12px 0 12px 0;
    background: orange;
    background: -webkit-linear-gradient(45deg, black, orange, white);
    background: -o-linear-gradient(45deg, black, orange, white);
    background: -moz-linear-gradient(45deg, black, orange, white);
    background: linear-gradient(45deg, black, orange, white);
}





